.flexible-area{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    }
.blue-color{
    color: blue;
}  
.heading{
    font-size: 50px;
    font-weight: bold;
} 
.button{
    background-image: linear-gradient(lightblue, blue);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
} 
#diet-part{
    margin-left: 80px;
}
#font-bold{
    font-size: 40px;
    font-weight: bold;
}
.width-set{
    width: 500px;
    text-align: justify;
    margin-bottom: 80px;
}
.img-position img{
    margin-left: 70px;
}
.down-margin{
    margin-bottom: 60px;
}
.about-me{
    background-image: url(eat-healthy-main/images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-position: right;
}