.flexible-area{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    }
.blue-color{
    color: blue;
}  
.heading{
    font-size: 50px;
    font-weight: bold;
} 
.button{
    background-image: linear-gradient(lightblue, blue);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
} 
#diet-part{
    margin-left: 80px;
}
.font-bold{
    font-size: 40px;
    font-weight: bold;
}
.width-set{
    width: 500px;
    text-align: justify;
    margin-bottom: 80px;
}
.img-position img{
    margin-left: 70px;
}
.down-margin{
    margin-bottom: 60px;
}
.about-me{
    background-image: url(eat-healthy-main/images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.text-align{
    text-align: center;
}
.My-recipies-area img{
    width: 50%;
    padding-left: 150px;
    padding-top: 20px;
}
.box-recipie{
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    padding: 0 10px 0 10px;
    margin: 20px 40px;
}
.three-width{
    width: 25%;
    padding-left: 150px;
}
.subscribe-area{
    display: flex; 
    padding-bottom: 50px; 
    margin-bottom: 90px;
}
.blue-color{
    color: blue;
}
.orange{
    color: orange;
}
.eat-fresh-area{
    background-color: black;
    padding-bottom: 50px;
}
.white{
    color: white;
}